html { 
	overflow-x :hidden;
	scroll-behavior: smooth; 
}
header {
	background: url(2.jpg) center/cover no-repeat;
}
input
{
	background-color:lightblue;
	padding:2px;
	width:150px;
	border-radius:5px;
}
select
{
	background-color:lightblue;
	padding:2px;
	width:155px;
	border-radius:5px;
}
input:hover
{
	background-color:lightgreen;
}
select:hover
{
	background-color:lightgreen;
}
body {
	margin: 0;
	font-family: "Segoe UI", Arial, Helvetica, Sans Serif;
	background-color:rgb(0,0,0);
	background:url(bgg2.jpeg);
}

h1 {
text-decoration: none;
color:rgb(20, 250, 240);
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
display: inline-block;
margin-right: 10px;
text-shadow: 5px 2px 3px red;
}
  a {
	text-decoration: none;
	color:rgb(124, 228, 124);
	display: inline-block;
	margin-right: 10px;
	margin-left: 10px;
	padding: 10px;
	transition: 0.5s;              
  }
  #linkel a:hover{
	  color:black;
  }
  .center
  {
   border:transparent;
  }
  .center:hover
  {
  border:2px outset blue;
  background-color:gray;
  }
  #nav
  {
	  display:flex;
	  align-items:center;
	  background-color: rgb(0, 0, 0);
	  position: sticky;
	  top: 0;
	  z-index: 1000;
	  height:67px;
  }
  @media screen and (max-width: 600px) {
	  .nav{
	   display:none;
		/* float: none;
		width: 100%; */
	  }
	}
  #a1
  {
	  background:none;
	  display:inline;
  }
  #logo
  {
	  margin-left:50px;
	  margin-top:6px;
	  float:left;
	  margin-right:80px;
	  border-radius:10px;
  }
  #links
  {
	  text-align:center;
	  position:relative;
	  float:right;
	  margin-top:17px;
  }
  #linkel
  {
	  display:inline-block;
	  padding:10px;
  }
  #linkel:hover
  {
	  background-color:rgb(120,120,120);	
  }
  #incomediv
{
	position:absolute;
	float:left;
	margin-left:10%;
	color:green;
	border:5px inset black;
	margin-top:65px;
	height:200px;
	width:500px;
	text-align:center;
	background-color:black;
}
#expensediv
{
	position:absolute;
	float:left;
	margin-left:50%;
	color:red;
	border:5px inset black;
	margin-top:65px;
	height:200px;
	width:500px;
	text-align:center;
	background-color:black;
}
#incomehead
{
	background-color:green;
	text-shadow:none;
	width:100%;
	color:gold;
	font-family:bodoni mt black;
	margin-top:0px;
	font-size:35px;
	padding:5px 0px 5px 0px;
}
#expensehead
{
	margin-top:0px;
	font-size:35px;
	padding:5px 0px 5px 0px;
	background-color:red;
	text-shadow:none;
	color:lightgray;
	width:100%;
	font-family:bodoni mt black;
}
#expensehead a
{
	background-color:red;
	text-shadow:none;
	color:lightgray;
	width:100%;
	font-family:bodoni mt black;
}
td:hover
{
	background:gray;
	font-weight:bold;
}
#hr2
{
		position: relative;
        top: 150px;
        border: none;
        height: 15px;
        background: red;
        margin-bottom: 50px;
}
.transip
{
    position:relative;
	text-align:center;
	float:left;
	margin-top:160px;
	margin-left:15%;
	margin-bottom:50px;
	color:green;
	font-family:bodoni;
	padding:35px;
	background-image:radial-gradient(red 50%,black);	
}
#transid
{
	color:lightgray;
	font-family:Cambria;
	text-shadow:none;
}
#savingstableip
{
	padding-left:5px;
	border:2px dashed red;
	background-color:yellow;
}
#savingstableip td:hover
{
	background:yellow;
	font-weight:normal;
}
#subres
{
	background-color:black;
	color:white;
	padding:5px;
	width:100px;
}
#subres1
{
	background-color:black;
	color:white;
	padding:5px;
	width:100px;
}
#subres:hover
{
	color:lightgreen;
	background-color:blue;
}
#subres1:hover
{
	color:lightgreen;
	background-color:red;
}
.transip2
{	
	text-align:center;
	position:relative;
	float:left;
	margin-top:160px;
	margin-left:6%;
	margin-bottom:50px;
	color:green;
	font-family:bodoni;
	padding:35px;
	background-image:radial-gradient(blueviolet 50%,black);
}
#transid
{
	color:lightgray;
	font-family:Cambria;
	text-shadow:none;
}
.savetable
{
	position:relative;
	width:70%;
	color:white;
	text-align:center;
	float:left;
	margin-top:100px;
	margin-left:10%;
	margin-bottom:2%;
	font-family:bodoni;
	padding:60px;
	background-color:black;
}
.savetable tr
{
	background-color:rgb(120, 194, 91);
}
#h {
	text-decoration: none;
	color:rgb(20, 250, 240);
	font-family: Cambria;
	display: inline-block;
	margin-right: 10px;
	text-shadow:none;
  }
  #hr3
  {
		  position: relative;
		  top:150px;
		  border: none;
		  height: 15px;
		  background: gray;
		  margin-bottom: 50px;
  }

  #fuel
{
	float:left;background-color:red;height:10px;width:10px;
}
.key
{
height:200px;
width:200px;
float:left;
position:absolute;
margin-top:70px;
margin-left:700px;
background-color:black;
color:white;
padding:10px 15px 30px 30px;
border:1px dashed red
}
#graphsp
{
	float:left;position:relative;margin-top:-6px;
}
#electricity
{
	float:left;background-color:yellow;height:10px;width:10px;
}
#bills
{
	float:left;background-color:green;height:10px;width:10px;
}
#misc
{
	float:left;background-color:blue;height:10px;width:10px;
}
#bar_h1
{
color:blue;
width:460px;
font-family:Cambria;
text-shadow:none;
margin-top:150px;
margin-left:440px;
background-color:yellow;
padding:10px;
padding-left:10px;
border:1px dashed red;
text-align:center;
}
.container
{
width:100%;
background-color:#ddd;
border:1px solid black;
}
:root {
    --background0: rgb(0,0,0);
    --background1: #22262f;
    --text: #fff;
}
.container {
    background: var(--background1);
    position: relative;
    display: flex;
    width: 480px;
    align-items: flex-end;
    height: 410px;
	padding-bottom:10px;
	margin-top:-22px;
	margin-left:440px;
}
.percent {
    background: var(--background1);
    position: absolute;
    border-right: 2px solid var(--text);
    color: var(--text);
    width: 50px;
    height: 390px;
    display: flex;
    /* padding-bottom: 20px; */
    flex-direction: column;
    justify-content: space-between;
}
.percent span {
    font-size: 12px;
    height: 12px;
    line-height: 3px;
    text-align: right;
    padding-right: 4px;
    font-weight: 600;
}

.options {
    position: relative;
    left: 50px;
    background: var(--background1);
    width: 407px;
    color: var(--text);
    border-top: 2px solid var(--text);
    display: flex;
    justify-content: space-between;
  transition: 1s;
}
.options::before
{
	left:900px;
}
.opt1::after, .opt2::after, .opt3::after, .opt4::after, .opt5::after, .opt6::after {
    content: '';
    position: absolute;
    display: block;
    bottom: 27px;
    margin-left: 8px;
    /* background: 
    linear-gradient(#ff5b66,#ff8c38); */
    width: 35px;
    transition: 1s;
}
.opt1::after{
    height: calc((363px / 100) * 50);
	background-color:#007bff;
}
.opt2::after{
    height: calc((363px / 100) * 80);
	background-color: green;
}
.opt3::after{
    height: calc((363px / 100) * 40);
	background-color: lightgray;
}
.opt4::after{
    height: calc((363px / 100) * 80);
	background-color: pink;
}
.opt5::after{
    height: calc((363px / 100) * 60);
	background-color: orange;
}
.opt6::after{
    height: calc((363px / 100) * 32.31077);
	background-color: violet;
}
.opt1:hover,.opt2:hover,.opt3:hover,.opt4:hover,.opt5:hover,.opt6:hover
{
opacity:0.4;
font-size:16px;
}


#back_to_top{
	position:fixed;
	right:0px;
	bottom:50px;
	padding:10px;
	background-color:gray;
	opacity:0.5;
	border-radius:10px 0px 0px 10px;
	cursor:pointer;
}
#back_to_top img{
	width:30px;
	height:30px;
}
.pie
{
height:200px;
width:200px;
float:left;
border-radius:100%;
background-image:repeating-conic-gradient(
	from 0deg,
	red 0deg 55.38deg,
	yellow 55.38deg 193.84deg,
	green 193.84deg 249.22deg,
	blue 249.22deg 360deg
/* red 0deg,red 45deg,
yellow 45deg,yellow 135deg,
green 135deg,green 225deg,
blue 225deg, blue 360deg */ );
	margin-top:100px;
	margin-left:330px;
}
#footer
{
	background-color:black;
	height:40px;
	text-align:center;
	margin-top:15%;
	padding-top:25px;
	padding-bottom:8px;
	font-weight:bold;
	margin-bottom:0px;
	color:rgb(194, 245, 9);
	font-family:verdana;
}
.saveip
{
	text-align:center;
	float:left;
	margin-top:27px;
	margin-left:10%;
	margin-bottom:60px;
	color:green;
	font-family:bodoni;
	padding:60px;
	background-image:radial-gradient(black 50%,green);
}
#saveid
{
	color:lightblue;
	margin-left:5px;
	text-shadow:none;
	font-family:Cambria;
}
#cursoripdis{
	position:fixed;
	right:0px;
	top:31%;
	padding:10px;
	background-color:rgb(0,20,0);
	opacity:0.5;
	color:blue;
	cursor:pointer;
	z-index:1;
}
#ipdis
{
	color:orange;
}
#ipdis:hover
{
	background-color:lightblue;
	color:green;
}
.increasesaveip
{
	position:relative;
	text-align:center;
	float:left;
	margin-top:27px;
	margin-left:6%;
	margin-bottom:60px;
	color:green;
	font-family:bodoni;
	padding:60px;
	background-image:radial-gradient(black 50%,blueviolet);
	padding-left:80px;
}
#increasetableip
{
	border:2px dashed red;
	background-color:yellow;
	margin-left:0px;
}
#increasetableip td:hover
{
	background:yellow;
	font-weight:normal;
}