html { 
	overflow-x :hidden;
	scroll-behavior: smooth; }
header {
	background: url(2.jpg) center/cover no-repeat;
}
body {
	margin: 0;
	font-family: "Segoe UI", Arial, Helvetica, Sans Serif;
	background-color:rgb(0,0,0);
	background:url(bgg2.jpeg);
  }
  
  h1 {
	text-decoration: none;
	color:rgb(20, 250, 240);
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	display: inline-block;
	margin-right: 10px;
	text-shadow: 5px 2px 3px red;
  }
  a {
	text-decoration: none;
	color:rgb(124, 228, 124);
	display: inline-block;
	margin-right: 10px;
	margin-left: 10px;
	padding: 10px;
	transition: 0.5s;              
  }
  #linkel a:hover{
	  color:black;
  }
  .center
  {
   border:transparent;
  }
  .center:hover
  {
  border:2px outset blue;
  background-color:gray;
  }
  #nav
  {
	  display:flex;
	  align-items:center;
	  background-color: rgb(0, 0, 0);
	  position: sticky;
	  top: 0;
	  z-index: 1000;
	  height:67px;
  }
  @media screen and (max-width: 600px) {
	  .nav{
	   display:none;
		/* float: none;
		width: 100%; */
	  }
	}
  #a1
  {
	  background:none;
	  display:inline;
  }
  #logo
  {
	  margin-left:50px;
	  margin-top:6px;
	  float:left;
	  margin-right:80px;
	  border-radius:10px;
  }
  #links
  {
	  text-align:center;
	  position:relative;
	  float:right;
	  margin-top:17px;
  }
  #linkel
  {
	  display:inline-block;
	  padding:10px;
  }
  #linkel:hover
  {
	  background-color:rgb(120,120,120);	
  }
  #incomediv
{
	position:absolute;
	float:left;
	margin-left:10%;
	color:green;
	border:5px inset black;
	margin-top:65px;
	height:200px;
	width:500px;
	text-align:center;
	background-color:black;
}
#expensediv
{
	position:absolute;
	float:left;
	margin-left:50%;
	color:red;
	border:5px inset black;
	margin-top:65px;
	height:200px;
	width:500px;
	text-align:center;
	background-color:black;
}
#incomehead
{
	background-color:green;
	text-shadow:none;
	width:100%;
	color:gold;
	font-family:bodoni mt black;
	margin-top:0px;
	font-size:35px;
	padding:5px 0px 5px 0px;
}
#expensehead
{
	margin-top:0px;
	font-size:35px;
	padding:5px 0px 5px 0px;
	background-color:red;
	text-shadow:none;
	color:lightgray;
	width:100%;
	font-family:bodoni mt black;
}
#expensehead a
{
	background-color:red;
	text-shadow:none;
	color:lightgray;
	width:100%;
	font-family:bodoni mt black;
}
#hr2
{
		position: relative;
        top: 150px;
        border: none;
        height: 15px;
        background: red;
        margin-bottom: 50px;
}
.transip
{
    position:relative;
	text-align:center;
	float:left;
	margin-top:160px;
	margin-left:15%;
	margin-bottom:50px;
	color:green;
	font-family:bodoni;
	padding:35px;
	background-image:radial-gradient(red 50%,black);	
}
#transid
{
	color:lightgray;
	font-family:Cambria;
	text-shadow:none;
}
#savingstableip
{
	padding-left:5px;
	border:2px dashed red;
	background-color:yellow;
}
#savingstableip td:hover
{
	background:yellow;
	font-weight:normal;
}
#subres
{
	background-color:black;
	color:white;
	padding:5px;
	width:100px;
}
#subres1
{
	background-color:black;
	color:white;
	padding:5px;
	width:100px;
}
#subres:hover
{
	color:lightgreen;
	background-color:blue;
}
#subres1:hover
{
	color:lightgreen;
	background-color:red;
}
.transip2
{	
	text-align:center;
	position:relative;
	float:left;
	margin-top:160px;
	margin-left:6%;
	margin-bottom:50px;
	color:green;
	font-family:bodoni;
	padding:35px;
	background-image:radial-gradient(blueviolet 50%,black);
}
#transid
{
	color:lightgray;
	font-family:Cambria;
	text-shadow:none;
}
.savetable
{
	position:relative;
	width:70%;
	color:white;
	text-align:center;
	float:left;
	margin-top:100px;
	margin-left:10%;
	margin-bottom:2%;
	font-family:bodoni;
	padding:60px;
	background-color:black;
}
.savetable tr
{
	background-color:rgb(120, 194, 91);
}
#h {
	text-decoration: none;
	color:rgb(20, 250, 240);
	font-family: Cambria;
	display: inline-block;
	margin-right: 10px;
	text-shadow:none;
  }
